/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 2, ../sass/modules/_base.scss */
body {
  margin: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

/* line 10, ../sass/modules/_base.scss */
html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

/* line 16, ../sass/modules/_base.scss */
* {
  box-sizing: border-box;
}

/* line 20, ../sass/modules/_base.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* line 25, ../sass/modules/_base.scss */
p {
  margin: 1em auto;
  line-height: 1.9em;
}

/* line 31, ../sass/modules/_base.scss */
h1, h2, h3, h4, h5, h6, label.join {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  line-height: 1.2em;
  letter-spacing: .0618em;
  font-weight: 700;
}
/* line 41, ../sass/modules/_base.scss */
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span, label.join span {
  text-transform: lowercase;
  font-family: serif;
  font-weight: normal;
  font-style: italic;
  letter-spacing: normal;
}

/* line 50, ../sass/modules/_base.scss */
h2 {
  font-size: 1.35em;
}
@media (min-width: 481px) {
  /* line 50, ../sass/modules/_base.scss */
  h2 {
    font-size: 2.15em;
  }
}

/* line 57, ../sass/modules/_base.scss */
h3 {
  font-size: 1.15em;
}
@media (min-width: 481px) {
  /* line 57, ../sass/modules/_base.scss */
  h3 {
    font-size: 1.5em;
  }
}

/* line 65, ../sass/modules/_base.scss */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

/* line 69, ../sass/modules/_base.scss */
.clearfix:after {
  clear: both;
}

/* line 72, ../sass/modules/_base.scss */
.clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

/* line 76, ../sass/modules/_base.scss */
.outer {
  padding: 0 1em 6em;
}

/* line 80, ../sass/modules/_base.scss */
.page-wrap {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

/* line 87, ../sass/modules/_base.scss */
.page-wrap h1:after,
.page-wrap h2:after {
  content: "";
  display: block;
  margin: auto;
  width: 2em;
  margin-top: .5em;
  border-top: .05em solid black;
}

/* line 96, ../sass/modules/_base.scss */
.page-wrap h2:after {
  margin-top: .7em;
  border-top: 2px solid black;
}

/* line 101, ../sass/modules/_base.scss */
.page-wrap .join:after {
  content: none;
}

/* line 105, ../sass/modules/_base.scss */
.block {
  display: block;
}

/* line 110, ../sass/modules/_base.scss */
.nav-services,
.nav {
  padding-right: 0;
  -webkit-padding-start: 0;
}

/* line 115, ../sass/modules/_base.scss */
.menu {
  background-color: #000;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
/* line 122, ../sass/modules/_base.scss */
.menu .nav {
  display: inline-block;
  margin: 0;
}
/* line 126, ../sass/modules/_base.scss */
.menu .nav li {
  display: block;
  font-size: .8em;
  letter-spacing: .05em;
  line-height: 4em;
}
@media (min-width: 520px) {
  /* line 126, ../sass/modules/_base.scss */
  .menu .nav li {
    display: inline-block;
    width: 12.8em;
  }
}

/* line 140, ../sass/modules/_base.scss */
.sub-menu {
  font-family: serif;
  font-style: italic;
  max-width: 410px;
  margin: 0 auto;
  padding-start: 30px;
  -webkit-padding-start: 30px;
}
/* line 148, ../sass/modules/_base.scss */
.sub-menu li {
  list-style-type: disc;
  line-height: 1.85em;
  font-size: .95em;
  padding-left: 10px;
}

/* line 156, ../sass/modules/_base.scss */
.main-title {
  line-height: 1em;
  font-size: 3em;
  margin-bottom: .9em;
}
@media (min-width: 481px) {
  /* line 156, ../sass/modules/_base.scss */
  .main-title {
    font-size: 4em;
  }
}
@media (min-width: 768px) {
  /* line 156, ../sass/modules/_base.scss */
  .main-title {
    font-size: 5.5em;
  }
}
/* line 169, ../sass/modules/_base.scss */
.main-title span {
  letter-spacing: normal;
}

/* line 174, ../sass/modules/_base.scss */
.stand-out {
  margin-top: 1.4em;
  margin-bottom: 1.4em;
}
@media (min-width: 481px) {
  /* line 174, ../sass/modules/_base.scss */
  .stand-out {
    font-size: 2.4em;
  }
}

/* line 183, ../sass/modules/_base.scss */
.page-wrap .stand-out:after {
  content: none;
}

/* line 190, ../sass/modules/_base.scss */
.call-out {
  text-align: center;
}
/* line 193, ../sass/modules/_base.scss */
.call-out p {
  font-weight: 300;
  line-height: 1.3em;
  max-width: 27em;
  font-size: 1.15em;
}
@media (min-width: 481px) {
  /* line 193, ../sass/modules/_base.scss */
  .call-out p {
    font-size: 1.75em;
  }
}

/* line 204, ../sass/modules/_base.scss */
.brand-group {
  font-weight: bold;
  max-width: 50em;
  text-align: center;
  line-height: 1.8em;
  margin-bottom: 2em;
  font-weight: bold;
}
@media (min-width: 481px) {
  /* line 204, ../sass/modules/_base.scss */
  .brand-group {
    font-size: 1.25em;
  }
}

/* line 219, ../sass/modules/_base.scss */
.nav-services > li {
  list-style-type: none;
}
/* line 222, ../sass/modules/_base.scss */
.nav-services > li h3 {
  font-size: 1.15em;
  line-height: 1.3em;
  padding: .6em 0;
  max-width: 350px;
  background-color: black;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
}
@media (min-width: 481px) {
  /* line 222, ../sass/modules/_base.scss */
  .nav-services > li h3 {
    font-size: 1.3em;
  }
}
/* line 239, ../sass/modules/_base.scss */
.nav-services > .sub {
  background-color: white;
  color: black;
}
@media (min-width: 768px) {
  /* line 218, ../sass/modules/_base.scss */
  .nav-services {
    width: 50%;
    float: left;
  }
}

@media (max-width: 767px) {
  /* line 251, ../sass/modules/_base.scss */
  .nav-services:first-of-type {
    margin-bottom: 0;
  }

  /* line 255, ../sass/modules/_base.scss */
  .nav-services:nth-of-type(2) {
    margin-top: 0;
  }
  /* line 259, ../sass/modules/_base.scss */
  .nav-services:nth-of-type(2) .sub h3 {
    margin-top: 0;
  }
}
/* line 267, ../sass/modules/_base.scss */
.bio span,
.bio strong {
  font-weight: bold;
}

/* line 271, ../sass/modules/_base.scss */
.our-services {
  position: relative;
  padding-bottom: 4em;
  position: relative;
}
/* line 276, ../sass/modules/_base.scss */
.our-services .divider {
  display: none;
}
@media (min-width: 800px) {
  /* line 276, ../sass/modules/_base.scss */
  .our-services .divider {
    display: block;
    position: absolute;
    height: 82%;
  }
  /* line 284, ../sass/modules/_base.scss */
  .our-services .divider:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: 1px;
    border-left: 2px dotted #9d9d9d;
  }
}

/* line 300, ../sass/modules/_base.scss */
input,
textarea {
  width: 100%;
  border: 2px solid black;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 2.6em;
  padding-left: 1em;
  color: #9d9d9d;
  border-radius: 0 !important;
}

/* line 311, ../sass/modules/_base.scss */
textarea {
  height: 24em;
  margin-top: .5em;
  margin-bottom: .5em;
  border-radius: 0 !important;
}

/* line 318, ../sass/modules/_base.scss */
.submit {
  float: right;
  width: 20em;
  margin-right: .5em;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  opacity: 0;
}

/* line 330, ../sass/modules/_base.scss */
label.join {
  text-align: center;
  cursor: pointer;
  display: block;
  line-height: 2em;
  position: relative;
  margin-left: -8px;
}
@media (min-width: 480px) {
  /* line 330, ../sass/modules/_base.scss */
  label.join {
    margin-left: -16px;
  }
}

/* line 345, ../sass/modules/_base.scss */
.contact-us .clip-bg-holder {
  position: relative;
  max-width: 170px;
  float: right;
  margin-right: .5em;
  cursor: pointer;
}
@media (min-width: 480px) {
  /* line 345, ../sass/modules/_base.scss */
  .contact-us .clip-bg-holder {
    max-width: 290px;
  }
}
@media (min-width: 768px) {
  /* line 345, ../sass/modules/_base.scss */
  .contact-us .clip-bg-holder {
    margin-right: 1em;
  }
}
/* line 361, ../sass/modules/_base.scss */
.contact-us .clip-bg-holder:after {
  content: "";
  display: block;
  background-image: url("../img/tri.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 10px;
  width: 9px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto;
}
@media (min-width: 480px) {
  /* line 361, ../sass/modules/_base.scss */
  .contact-us .clip-bg-holder:after {
    right: 30px;
  }
}
@media (min-width: 768px) {
  /* line 361, ../sass/modules/_base.scss */
  .contact-us .clip-bg-holder:after {
    height: 20px;
    width: 18px;
  }
}

/* line 388, ../sass/modules/_base.scss */
.form-text,
.text-holder {
  padding: .5em;
}

@media (min-width: 768px) {
  /* line 393, ../sass/modules/_base.scss */
  .form-text {
    width: 50%;
    float: left;
  }

  /* line 398, ../sass/modules/_base.scss */
  .form-text,
  .text-holder {
    padding: 1em;
  }

  /* line 401, ../sass/modules/_base.scss */
  .submit {
    margin-right: 1em;
  }
}
/* line 408, ../sass/modules/_base.scss */
.divider {
  height: 6em;
  width: 100%;
  position: relative;
}
/* line 413, ../sass/modules/_base.scss */
.divider:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 1px;
  border-left: 2px dotted #9d9d9d;
}

/* line 425, ../sass/modules/_base.scss */
.who-we-are + .divider {
  height: 4em;
  margin-top: 2.5rem;
}

/* line 432, ../sass/modules/_base.scss */
.join {
  line-height: 2em;
  margin: 0 auto;
  width: 100%;
  cursor: pointer;
}
@media (min-width: 481px) {
  /* line 432, ../sass/modules/_base.scss */
  .join {
    font-size: 1.8em;
  }
}

/* line 443, ../sass/modules/_base.scss */
.white-bg {
  background-color: white;
  cursor: pointer;
}

/* line 447, ../sass/modules/_base.scss */
.clip-bg-holder {
  background-image: url("../img/gold.jpg");
  width: 100%;
  max-width: 410px;
  padding: 3px;
  margin: 0 auto 1.75em;
}

/* line 456, ../sass/modules/_base.scss */
.call-out .clip-bg-holder {
  max-width: 290px;
}
@media (min-width: 480px) {
  /* line 456, ../sass/modules/_base.scss */
  .call-out .clip-bg-holder {
    max-width: 410px;
  }
}

/* line 465, ../sass/modules/_base.scss */
.clip-bg {
  color: black;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent), url(../img/gold.jpg) repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
