/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 2, ../sass/modules/_base.scss */
body {
  margin: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

/* line 9, ../sass/modules/_base.scss */
html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

/* line 15, ../sass/modules/_base.scss */
* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

/* line 21, ../sass/modules/_base.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* line 26, ../sass/modules/_base.scss */
p {
  margin: 1em auto;
  line-height: 1.9em;
}

/* line 32, ../sass/modules/_base.scss */
h1, h2, h3, h4, h5, h6, label.join {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  line-height: 1.2em;
  letter-spacing: .0618em;
  font-weight: 900;
}
/* line 40, ../sass/modules/_base.scss */
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span, label.join span {
  text-transform: lowercase;
  font-weight: normal;
  font-style: italic;
  letter-spacing: normal;
}

/* line 48, ../sass/modules/_base.scss */
h2 {
  font-size: 1.35em;
}
@media (min-width: 481px) {
  /* line 48, ../sass/modules/_base.scss */
  h2 {
    font-size: 2.15em;
  }
}

/* line 55, ../sass/modules/_base.scss */
h3 {
  font-size: 1.15em;
}
@media (min-width: 481px) {
  /* line 55, ../sass/modules/_base.scss */
  h3 {
    font-size: 1.5em;
  }
}

/* line 63, ../sass/modules/_base.scss */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

/* line 67, ../sass/modules/_base.scss */
.clearfix:after {
  clear: both;
}

/* line 70, ../sass/modules/_base.scss */
.clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

/* line 74, ../sass/modules/_base.scss */
.outer {
  padding: 0 1em 18em;
}

/* line 79, ../sass/modules/_base.scss */
.page-wrap {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
/* line 84, ../sass/modules/_base.scss */
.page-wrap > section {
  padding-top: .5em;
  padding-bottom: .5em;
}

/* line 91, ../sass/modules/_base.scss */
.page-wrap h1:after,
.page-wrap h2:after {
  content: "";
  display: block;
  margin: auto;
  width: 2em;
  margin-top: .5em;
  border-top: .05em solid black;
}

/* line 100, ../sass/modules/_base.scss */
.page-wrap h2:after {
  margin-top: .7em;
  border-top: 2px solid black;
}

/* line 105, ../sass/modules/_base.scss */
.page-wrap .join:after {
  content: none;
}

/* line 109, ../sass/modules/_base.scss */
.block {
  display: block;
}

/* line 114, ../sass/modules/_base.scss */
.nav-services,
.nav {
  padding-right: 0;
  -webkit-padding-start: 0;
}

/* line 119, ../sass/modules/_base.scss */
.menu {
  background-color: #000;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
/* line 126, ../sass/modules/_base.scss */
.menu .nav {
  display: inline-block;
  margin: 0;
}
/* line 130, ../sass/modules/_base.scss */
.menu .nav li {
  display: block;
  font-size: .8em;
  letter-spacing: .05em;
  line-height: 4em;
}
@media (min-width: 520px) {
  /* line 130, ../sass/modules/_base.scss */
  .menu .nav li {
    display: inline-block;
    width: 12.8em;
  }
}

/* line 144, ../sass/modules/_base.scss */
.sub-menu {
  font-style: italic;
  max-width: 410px;
  margin: 0 auto;
  padding-start: 30px;
  -webkit-padding-start: 30px;
}
/* line 151, ../sass/modules/_base.scss */
.sub-menu li {
  list-style-type: disc;
  line-height: 1.85em;
  font-size: .95em;
  padding-left: 10px;
}

/* line 159, ../sass/modules/_base.scss */
.main-title {
  line-height: 1em;
  font-size: 3em;
  margin-bottom: .9em;
}
@media (min-width: 481px) {
  /* line 159, ../sass/modules/_base.scss */
  .main-title {
    font-size: 4em;
  }
}
@media (min-width: 768px) {
  /* line 159, ../sass/modules/_base.scss */
  .main-title {
    font-size: 5.5em;
  }
}
/* line 172, ../sass/modules/_base.scss */
.main-title span {
  letter-spacing: normal;
}

/* line 177, ../sass/modules/_base.scss */
.stand-out {
  margin-top: 1.4em;
  margin-bottom: 1.4em;
}
@media (min-width: 481px) {
  /* line 177, ../sass/modules/_base.scss */
  .stand-out {
    font-size: 2.4em;
  }
}

/* line 186, ../sass/modules/_base.scss */
.page-wrap .stand-out:after {
  content: none;
}

/* line 193, ../sass/modules/_base.scss */
.call-out {
  text-align: center;
}
/* line 196, ../sass/modules/_base.scss */
.call-out p {
  font-weight: 300;
  line-height: 1.3em;
  max-width: 27em;
  font-size: 1.15em;
}
@media (min-width: 481px) {
  /* line 196, ../sass/modules/_base.scss */
  .call-out p {
    font-size: 1.75em;
  }
}

/* line 207, ../sass/modules/_base.scss */
.brand-group {
  font-weight: bold;
  max-width: 50em;
  text-align: center;
  line-height: 1.8em;
  margin-bottom: 2em;
  font-weight: bold;
  max-width: 36em;
}
@media (min-width: 481px) {
  /* line 207, ../sass/modules/_base.scss */
  .brand-group {
    font-size: 1.5em;
  }
}

/* line 221, ../sass/modules/_base.scss */
.nav-services {
  padding-left: 0;
}
/* line 223, ../sass/modules/_base.scss */
.nav-services > li {
  list-style-type: none;
}
/* line 226, ../sass/modules/_base.scss */
.nav-services > li h3 {
  font-size: 1.15em;
  line-height: 1.3em;
  padding: .6em 0;
  max-width: 350px;
  background-color: black;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
}
@media (min-width: 481px) {
  /* line 226, ../sass/modules/_base.scss */
  .nav-services > li h3 {
    font-size: 1.3em;
  }
}
/* line 242, ../sass/modules/_base.scss */
.nav-services > .sub {
  background-color: white;
  color: black;
}
@media (min-width: 768px) {
  /* line 221, ../sass/modules/_base.scss */
  .nav-services {
    width: 50%;
    float: left;
  }
}

@media (max-width: 767px) {
  /* line 254, ../sass/modules/_base.scss */
  .nav-services:first-of-type {
    margin-bottom: 0;
  }

  /* line 258, ../sass/modules/_base.scss */
  .nav-services:nth-of-type(2) {
    margin-top: 0;
  }
  /* line 262, ../sass/modules/_base.scss */
  .nav-services:nth-of-type(2) .sub h3 {
    margin-top: 0;
  }
}
/* line 270, ../sass/modules/_base.scss */
.bio,
.bio + p {
  font-size: 1.2em;
}

/* line 275, ../sass/modules/_base.scss */
.bio span,
.bio strong {
  font-weight: bold;
}

/* line 279, ../sass/modules/_base.scss */
.our-services {
  position: relative;
  padding-bottom: 4em;
  position: relative;
}
@media (min-width: 768px) {
  /* line 286, ../sass/modules/_base.scss */
  .our-services .nav-services:first-of-type h3 {
    margin-bottom: 2em;
  }
  /* line 291, ../sass/modules/_base.scss */
  .our-services .nav-services:first-of-type li:nth-of-type(3) h3 {
    margin-bottom: 3em;
  }
}
/* line 298, ../sass/modules/_base.scss */
.our-services .divider {
  display: none;
}
@media (min-width: 800px) {
  /* line 298, ../sass/modules/_base.scss */
  .our-services .divider {
    display: block;
    position: absolute;
    height: 82%;
  }
  /* line 306, ../sass/modules/_base.scss */
  .our-services .divider:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: 1px;
    border-left: 2px dotted #9d9d9d;
  }
}

/* line 321, ../sass/modules/_base.scss */
textarea {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

/* line 328, ../sass/modules/_base.scss */
input,
textarea {
  width: 100%;
  border: 2px solid black;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 2.6em;
  text-indent: 1em;
  color: #9d9d9d;
  border-radius: 0 !important;
}

/* line 339, ../sass/modules/_base.scss */
textarea {
  height: 24em;
  margin-top: .5em;
  margin-bottom: .5em;
  border-radius: 0 !important;
}

/* line 346, ../sass/modules/_base.scss */
.submit {
  float: right;
  width: auto;
  margin-right: .5em;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  opacity: 0;
}

/* line 358, ../sass/modules/_base.scss */
label.join {
  text-align: center;
  cursor: pointer;
  display: block;
  line-height: 2em;
  position: relative;
}

/* line 368, ../sass/modules/_base.scss */
.contact-us .clip-bg-holder {
  position: relative;
  max-width: 170px;
  float: right;
  cursor: pointer;
}
@media (min-width: 480px) {
  /* line 368, ../sass/modules/_base.scss */
  .contact-us .clip-bg-holder {
    max-width: 290px;
  }
}
/* line 378, ../sass/modules/_base.scss */
.contact-us .clip-bg-holder:after {
  content: "";
  display: block;
  background-image: url("../img/tri.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 10px;
  width: 9px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto;
}
@media (min-width: 480px) {
  /* line 378, ../sass/modules/_base.scss */
  .contact-us .clip-bg-holder:after {
    right: 30px;
  }
}
@media (min-width: 768px) {
  /* line 378, ../sass/modules/_base.scss */
  .contact-us .clip-bg-holder:after {
    height: 20px;
    width: 18px;
  }
}

/* line 405, ../sass/modules/_base.scss */
.form-text,
.text-holder {
  padding-bottom: 1em;
}
/* line 408, ../sass/modules/_base.scss */
.form-text input,
.text-holder input {
  height: 3em;
}

@media (min-width: 768px) {
  /* line 414, ../sass/modules/_base.scss */
  .form-text {
    width: 50%;
    float: left;
  }
  /* line 418, ../sass/modules/_base.scss */
  .form-text:first-of-type {
    padding-right: 1em;
  }
  /* line 422, ../sass/modules/_base.scss */
  .form-text:nth-of-type(2) {
    padding-left: 1em;
  }

  /* line 427, ../sass/modules/_base.scss */
  .submit {
    margin-right: 1em;
  }
}
/* line 434, ../sass/modules/_base.scss */
.divider {
  height: 6em;
  width: 100%;
  position: relative;
}
/* line 439, ../sass/modules/_base.scss */
.divider:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 1px;
  border-left: 2px dotted #9d9d9d;
}

/* line 451, ../sass/modules/_base.scss */
.who-we-are + .divider {
  height: 4em;
  margin-top: 2.5rem;
}

/* line 458, ../sass/modules/_base.scss */
.join {
  line-height: 2em;
  margin: 0 auto;
  width: 100%;
  cursor: pointer;
}
@media (min-width: 481px) {
  /* line 458, ../sass/modules/_base.scss */
  .join {
    font-size: 1.8em;
  }
}

/* line 469, ../sass/modules/_base.scss */
.white-bg {
  background-color: white;
  cursor: pointer;
}

/* line 473, ../sass/modules/_base.scss */
.clip-bg-holder {
  background-image: url("../img/gold.jpg");
  width: 100%;
  max-width: 410px;
  padding: 3px;
  margin: 0 auto 1.75em;
}

/* line 482, ../sass/modules/_base.scss */
.call-out .clip-bg-holder {
  max-width: 290px;
}
@media (min-width: 480px) {
  /* line 482, ../sass/modules/_base.scss */
  .call-out .clip-bg-holder {
    max-width: 410px;
  }
}

/* line 491, ../sass/modules/_base.scss */
.clip-bg {
  color: black;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  background-image: url("../img/selected-btn");
  background: -webkit-linear-gradient(transparent, transparent), url(../img/gold.jpg) repeat;
  background: -o-linear-gradient(transparent, transparent);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
