/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 2, ../sass/modules/_base.scss */
body {
  font-family: 'Muli', sans-serif;
  margin: 0;
}

/* line 7, ../sass/modules/_base.scss */
* {
  box-sizing: border-box;
}

/* line 11, ../sass/modules/_base.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* line 16, ../sass/modules/_base.scss */
p {
  margin: 1em auto;
  line-height: 1.9em;
}

/* line 22, ../sass/modules/_base.scss */
h1, h2, h3, h4, h5, h6, label.join {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  line-height: 1.2em;
  letter-spacing: .0618em;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}
/* line 31, ../sass/modules/_base.scss */
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span, label.join span {
  text-transform: lowercase;
  font-family: serif;
  font-weight: normal;
  font-style: italic;
  letter-spacing: normal;
}

/* line 40, ../sass/modules/_base.scss */
h2 {
  font-size: 1.35em;
}
@media (min-width: 481px) {
  /* line 40, ../sass/modules/_base.scss */
  h2 {
    font-size: 2.15em;
  }
}

/* line 47, ../sass/modules/_base.scss */
h3 {
  font-size: 1.15em;
}
@media (min-width: 481px) {
  /* line 47, ../sass/modules/_base.scss */
  h3 {
    font-size: 1.5em;
  }
}

/* line 55, ../sass/modules/_base.scss */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

/* line 59, ../sass/modules/_base.scss */
.clearfix:after {
  clear: both;
}

/* line 62, ../sass/modules/_base.scss */
.clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

/* line 66, ../sass/modules/_base.scss */
.outer {
  padding: 0 1em 6em;
}

/* line 70, ../sass/modules/_base.scss */
.page-wrap {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

/* line 77, ../sass/modules/_base.scss */
.page-wrap h1:after,
.page-wrap h2:after {
  content: "";
  display: block;
  margin: auto;
  width: 2em;
  margin-top: .5em;
  border-top: .05em solid black;
}

/* line 86, ../sass/modules/_base.scss */
.page-wrap h2:after {
  margin-top: .7em;
  border-top: 2px solid black;
}

/* line 91, ../sass/modules/_base.scss */
.page-wrap .join:after {
  content: none;
}

/* line 95, ../sass/modules/_base.scss */
.block {
  display: block;
}

/* line 100, ../sass/modules/_base.scss */
.nav-services,
.nav {
  padding-right: 0;
  -webkit-padding-start: 0;
}

/* line 105, ../sass/modules/_base.scss */
.menu {
  background-color: #000;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
/* line 112, ../sass/modules/_base.scss */
.menu .nav {
  display: inline-block;
  margin: 0;
}
/* line 116, ../sass/modules/_base.scss */
.menu .nav li {
  display: block;
  font-size: .8em;
  letter-spacing: .05em;
  line-height: 4em;
}
@media (min-width: 520px) {
  /* line 116, ../sass/modules/_base.scss */
  .menu .nav li {
    display: inline-block;
    width: 12.8em;
  }
}

/* line 130, ../sass/modules/_base.scss */
.sub-menu {
  font-family: serif;
  font-style: italic;
  max-width: 410px;
  margin: 0 auto;
  padding-start: 30px;
  -webkit-padding-start: 30px;
}
/* line 138, ../sass/modules/_base.scss */
.sub-menu li {
  list-style-type: disc;
  line-height: 1.85em;
  font-size: .95em;
  padding-left: 10px;
}

/* line 146, ../sass/modules/_base.scss */
.main-title {
  line-height: 1em;
  font-size: 3em;
  margin-bottom: .9em;
}
@media (min-width: 481px) {
  /* line 146, ../sass/modules/_base.scss */
  .main-title {
    font-size: 4em;
  }
}
@media (min-width: 768px) {
  /* line 146, ../sass/modules/_base.scss */
  .main-title {
    font-size: 5.5em;
  }
}
/* line 159, ../sass/modules/_base.scss */
.main-title span {
  letter-spacing: normal;
}

/* line 164, ../sass/modules/_base.scss */
.stand-out {
  margin-top: 1.4em;
  margin-bottom: 1.4em;
}
@media (min-width: 481px) {
  /* line 164, ../sass/modules/_base.scss */
  .stand-out {
    font-size: 2.4em;
  }
}

/* line 173, ../sass/modules/_base.scss */
.page-wrap .stand-out:after {
  content: none;
}

/* line 180, ../sass/modules/_base.scss */
.call-out {
  text-align: center;
}
/* line 183, ../sass/modules/_base.scss */
.call-out p {
  font-weight: 300;
  line-height: 1.3em;
  max-width: 27em;
  font-size: 1.15em;
}
@media (min-width: 481px) {
  /* line 183, ../sass/modules/_base.scss */
  .call-out p {
    font-size: 1.75em;
  }
}

/* line 194, ../sass/modules/_base.scss */
.brand-group {
  font-weight: bold;
  max-width: 50em;
  text-align: center;
  line-height: 1.8em;
  margin-bottom: 2em;
  font-family: 'Lato' sans-serif;
  font-weight: bold;
}
@media (min-width: 481px) {
  /* line 194, ../sass/modules/_base.scss */
  .brand-group {
    font-size: 1.25em;
  }
}

/* line 209, ../sass/modules/_base.scss */
.nav-services > li {
  list-style-type: none;
}
/* line 212, ../sass/modules/_base.scss */
.nav-services > li h3 {
  font-size: 1.15em;
  line-height: 1.3em;
  padding: .6em 0;
  max-width: 350px;
  background-color: black;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
  font-family: 'Muli', sans-serif;
}
@media (min-width: 481px) {
  /* line 212, ../sass/modules/_base.scss */
  .nav-services > li h3 {
    font-size: 1.3em;
  }
}
/* line 229, ../sass/modules/_base.scss */
.nav-services > .sub {
  background-color: white;
  color: black;
}
@media (min-width: 768px) {
  /* line 208, ../sass/modules/_base.scss */
  .nav-services {
    width: 50%;
    float: left;
  }
}

@media (max-width: 767px) {
  /* line 241, ../sass/modules/_base.scss */
  .nav-services:first-of-type {
    margin-bottom: 0;
  }

  /* line 245, ../sass/modules/_base.scss */
  .nav-services:nth-of-type(2) {
    margin-top: 0;
  }
  /* line 249, ../sass/modules/_base.scss */
  .nav-services:nth-of-type(2) .sub h3 {
    margin-top: 0;
  }
}
/* line 257, ../sass/modules/_base.scss */
.bio span,
.bio strong {
  font-weight: bold;
}

/* line 261, ../sass/modules/_base.scss */
.our-services {
  position: relative;
  padding-bottom: 4em;
  position: relative;
}
/* line 266, ../sass/modules/_base.scss */
.our-services .divider {
  display: none;
}
@media (min-width: 800px) {
  /* line 266, ../sass/modules/_base.scss */
  .our-services .divider {
    display: block;
    position: absolute;
    height: 82%;
  }
  /* line 274, ../sass/modules/_base.scss */
  .our-services .divider:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: 1px;
    border-left: 2px dotted #9d9d9d;
  }
}

/* line 290, ../sass/modules/_base.scss */
input,
textarea {
  width: 100%;
  border: 2px solid black;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 2.6em;
  padding-left: 1em;
  color: #9d9d9d;
}

/* line 300, ../sass/modules/_base.scss */
textarea {
  height: 24em;
  margin-top: .5em;
  margin-bottom: .5em;
}

/* line 306, ../sass/modules/_base.scss */
.submit {
  float: right;
  width: 20em;
  margin-right: .5em;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  opacity: 0;
}

/* line 318, ../sass/modules/_base.scss */
label.join {
  text-align: center;
  cursor: pointer;
  display: block;
  line-height: 2em;
  position: relative;
  margin-left: -8px;
}
@media (min-width: 480px) {
  /* line 318, ../sass/modules/_base.scss */
  label.join {
    margin-left: -16px;
  }
}

/* line 333, ../sass/modules/_base.scss */
.contact-us .clip-bg-holder {
  position: relative;
  max-width: 170px;
  float: right;
  margin-right: .5em;
  cursor: pointer;
}
@media (min-width: 480px) {
  /* line 333, ../sass/modules/_base.scss */
  .contact-us .clip-bg-holder {
    max-width: 290px;
  }
}
@media (min-width: 768px) {
  /* line 333, ../sass/modules/_base.scss */
  .contact-us .clip-bg-holder {
    margin-right: 1em;
  }
}
/* line 349, ../sass/modules/_base.scss */
.contact-us .clip-bg-holder:after {
  content: "";
  display: block;
  background-image: url("../img/tri.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 10px;
  width: 9px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto;
}
@media (min-width: 480px) {
  /* line 349, ../sass/modules/_base.scss */
  .contact-us .clip-bg-holder:after {
    right: 30px;
  }
}
@media (min-width: 768px) {
  /* line 349, ../sass/modules/_base.scss */
  .contact-us .clip-bg-holder:after {
    height: 20px;
    width: 18px;
  }
}

/* line 376, ../sass/modules/_base.scss */
.form-text,
.text-holder {
  padding: .5em;
}

@media (min-width: 768px) {
  /* line 381, ../sass/modules/_base.scss */
  .form-text {
    width: 50%;
    float: left;
  }

  /* line 386, ../sass/modules/_base.scss */
  .form-text,
  .text-holder {
    padding: 1em;
  }

  /* line 389, ../sass/modules/_base.scss */
  .submit {
    margin-right: 1em;
  }
}
/* line 396, ../sass/modules/_base.scss */
.divider {
  height: 6em;
  width: 100%;
  position: relative;
}
/* line 401, ../sass/modules/_base.scss */
.divider:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 1px;
  border-left: 2px dotted #9d9d9d;
}

/* line 413, ../sass/modules/_base.scss */
.who-we-are + .divider {
  height: 4em;
  margin-top: 2.5rem;
}

/* line 420, ../sass/modules/_base.scss */
.join {
  line-height: 2em;
  margin: 0 auto;
  width: 100%;
  cursor: pointer;
}
@media (min-width: 481px) {
  /* line 420, ../sass/modules/_base.scss */
  .join {
    font-size: 1.8em;
  }
}

/* line 431, ../sass/modules/_base.scss */
.white-bg {
  background-color: white;
  cursor: pointer;
}

/* line 435, ../sass/modules/_base.scss */
.clip-bg-holder {
  background-image: url("../img/gold.jpg");
  width: 100%;
  max-width: 410px;
  padding: 3px;
  margin: 0 auto 1.75em;
}

/* line 444, ../sass/modules/_base.scss */
.call-out .clip-bg-holder {
  max-width: 290px;
}
@media (min-width: 480px) {
  /* line 444, ../sass/modules/_base.scss */
  .call-out .clip-bg-holder {
    max-width: 410px;
  }
}

/* line 453, ../sass/modules/_base.scss */
.clip-bg {
  color: yellow;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent), url(../img/gold.jpg) repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
}
